.div-with-border div {
    border-radius: 10px;
    padding: 10px;
    border: outset 4px black;
}

.display-board{
    display: flex;justify-content:space-evenly;font-size: 32px;font-weight: bold;text-align: center;
}
.container{
    padding: 0; border:none;margin:0; display: flex; justify-content: center; flex-direction: column;
}