<div class="div-with-border container" >
    <div class="display-board" >
      <div style="cursor:pointer;background-color: green;" (click)="start()">Start
      </div>
      <div style="background-color: white;">FIND <img style="height: 40px;width: 40px;" *ngIf="currentNumber>=0" 
          src="{{'../assets/social-sites-logos/'+currentNumber+'.png'}}"></div>
      <div style="background-color: rgb(47, 32, 255);color: white;">Your score {{score}}</div>
      <div [ngStyle]="{'background-color': timeLeft%2==0?'red':'white'}"
        style="background-color: rgb(255, 1, 1);color:black">TIME LEFT {{timeLeft}}</div>
    </div>
    <div (click)="setScore($event)">
      <app-cells #cells></app-cells>
    </div>
    <div *ngIf="countDown>0"  class="card-popup">
      <div style="border:none">{{countDown}}</div>
      <div style="border:none;font-size: 100px;">FIND <img style="width: 60px; height: 60px;"
          src="{{'../assets/social-sites-logos/'+currentNumber+'.png'}}"></div>
    </div>
  </div>