.chatai-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .stats-container {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .level {
            display: flex;
            justify-content: center;

            .push-button,
            .large-font {
                font-size: 30px;
                color: red;
                padding: 10px;
            }

            .push-button {
                border-radius: 50px;
                border: solid 1px lightblue;
                background-color: lightblue;
                height: 40px;
                width: 40px;
                text-align: center;
                padding: 5px;
                cursor: pointer;
            }

        }
    }

    .cards-container {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
        .card-mached {
            background: lightgray;
        }

        .card-container {
            border: solid 1px black;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
            background:white;

            .fade-in-image {
                animation: fadeIn 5s;
            }

            .card,
            .card-back {
                height: 200px;
                width: 120px;
                margin: 20px;
                display: flex;
                flex-direction: column;
            }

            .card-back {
                background-color: lightblue;
                padding: 5px;

            }

            img {
                height: 80px;
                width: 80px;
                margin: auto;
            }

            label {
                margin: auto;
                width: 100%;
            }

            .left {
                text-align: left;
            }

            .right {
                text-align: right;
            }

            .large {
                font-size: 30px;
                font-weight: 500;
            }

        }
    }

    .players-container {
        display: flex;
        justify-content: space-between;

        .playerRed-container,
        .playerBlue-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100px;

            .score-container {
                font-size: larger;
                text-align: center;
            }

            .name-container {
                font-size: medium;
                text-align: center;
            }
        }

        .playerBlue-container {
            color: blue;
        }

        .playerRed-container {
            color: red;
        }

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.screen-cover {
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 0.2;
    background-color: lightgray;
    z-index: 10;
}

.display-none {
    display: none;
}

.turn-blue{
    background: rgb(106, 106, 255)
}
.turn-red{
    background:rgb(255, 100, 100)
}