<div [ngClass]="{'display-none':!blockClick}" class="screen-cover">

</div>
<div [ngClass]="{'turn-red':turnIsOf == 'red', 'turn-blue':turnIsOf=='blue'}" class="chatai-container">
    <div class="stats-container">
        <div class="level">
            <div class="push-button"><i style="margin: 5px;" class="fa-solid fa-minus"></i></div>
            <div class="large-font">{{level}}</div>
            <div class="push-button"><i style="margin: 5px;" class="fa-solid fa-plus"></i></div>
        </div>
        <div>
            <button (click)="startGame()" class="primary">Start</button>
        </div>
    </div>
    <div *ngIf="gameStarted && chataiCards.length>0" class="cards-container">
        <div *ngFor="let card of chataiCards; let i = index" class="card-container">
            <div [ngClass]="{'card-back':card.status == 0}">
            <div [ngStyle]="{'opacity': card.opacity}" [ngClass]="{'card-mached':card.status=='x'}"
                (click)="toggleStatus(i)"  class="card fade-in-image">
                <label class="right large">{{card.value}}</label>
                <img *ngIf="card.type == 'Heart'" src="{{'../../../../../../assets/card-suits/heart.avif'}}">
                <img *ngIf="card.type == 'Club'" src="{{'../../../../../../assets/card-suits/club.png'}}">
                <img *ngIf="card.type == 'Diamond'" src="{{'../../../../../../assets/card-suits/diamond.png'}}">
                <img *ngIf="card.type == 'Spade'" src="{{'../../../../../../assets/card-suits/spade.png'}}">
                <label class="left large">{{card.value}}</label>
            </div></div>
            <!-- <div *ngIf="card.status == 1" (click)="setStatus(1,i)">
                <div class="card-back"></div>
            </div> -->
        </div>
    </div>
    <div class="players-container">
        <div class="playerRed-container">
            <div class="score-container">
                <label>{{playerRed.score}}</label>
            </div>
            <div class="name-container">
                <label>{{playerRed.name}}</label>
            </div>
        </div>
        <div class="playerBlue-container">
            <div class="score-container">
                <label>{{playerBlue.score}}</label>
            </div>
            <div class="name-container">
                <label>{{playerBlue.name}}</label>
            </div>
        </div>
    </div>
</div>