/* games-list-panel.component.css */

.games-list {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .games-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .games-list ul li {
    cursor: pointer;
    padding: 5px 0;
  }
  
  .games-list ul li:hover {
    background-color: #ddd;
  }
  