<!-- games-list-panel.component.html -->

<div class="games-list">
    <ul>
      <li *ngFor="let game of games" (click)="onSelectGame(game)">
        {{ game.name }}
      </li>
    </ul>
  </div>
  