<div style="display: flex;
flex-direction: row;
max-width: 98%;
flex-wrap: wrap;" >
    <div id={{i}} (click)="emitValue($event,i)" style="padding: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;height:40px;width:40px;
    border:solid 1px;margin:10px;font-size: 18px;" *ngFor="let cell of cells;let i=index">
        <div >
            <img *ngIf="cell.value>=0 && started" style="width: 40px;height:40px;" src="{{'../../assets/social-sites-logos/'+cell.value+'.png'}}">
        </div>
    </div>
</div>
