<div id="grid-container" class="grid-container" (window:resize)="getParentWidth()">
    <div *ngFor="let category of categories" class="grid-item">
      {{ category }}
    </div>
    
</div>
<div class="game-list">
  <app-game-menu [games] = "gamesMenuItems"></app-game-menu>
</div>