<div class="registration-form">
    <h2>Register</h2>
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
      </div>
      
      <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
      </div>
      
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" [(ngModel)]="user.email" required>
      </div>
      
      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" [(ngModel)]="user.password" required>
      </div>
      
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="user.confirmPassword" required>
      </div>
      
      <div>
        <button type="submit" [disabled]="!registrationForm.form.valid">Submit</button>
        <button type="button" (click)="clearForm()">Clear</button>
      </div>
    </form>
  </div>
  
