<div class="tiles-container">
    <div *ngFor="let tile of tiles" class="tile-container">
        <div (click)="goto(tile.path)"><div class="thumbnail-container">
            <img src="https://picsum.photos/200" />
        </div>
        <div class="info-container">
            <label>{{tile.name}}</label>
        </div></div>
        
    </div>
</div>