/* navigation-bar.component.css */

.navigation-bar {
    background-color: #333;
  }
  
  .navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation-bar ul li {
    display: inline;
  }
  
  .navigation-bar ul li div{
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navigation-bar ul li div:hover {
    background-color: #111;
  }
  