<!-- navigation-bar.component.html -->

<nav class="navigation-bar">
    <ul>
        <li *ngFor="let button of navigationButtons">
            <!-- <a [routerLink]="button.route">{{ button.label }}</a> -->
            <div (click)="emitSelectedPage(button.page)">
                {{button.label}}
            </div>
        </li>
    </ul>
</nav>