.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .content-container {
        display: flex;
        flex: 9;
        .left-container {
            flex: 1;
        }
        .right-container{
            flex:5;
        }
       
    }
    .home-container{
        flex:9;
    }

    .nav-container {
        flex:1;
        padding: 2px;
    }

    
}