<div class="container">

  <div class="nav-container">
    <app-navigation-bar (selectedPageEmitter)="selectPage($event)"></app-navigation-bar>
  </div>

  <div *ngIf="selectedPage !=='home'" class="content-container">
    <div class="left-container">
      <div  class="categories-container">
        <app-game-categories></app-game-categories>
      </div>
      <div class="menu-container">
        <app-game-menu></app-game-menu>
      </div>
    </div>
    <div class="right-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="selectedPage ==='home'" class="home-container">
    <router-outlet></router-outlet>{{selectedPage}}
  </div>
</div>