/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
.card-popup {
    text-align: center;
    position: fixed;
    font-size: 100px;
    color: black;
    margin: 35%;
    border: outset 4px blue !important;
    background-color: rgb(132, 0, 255);
}
